@import url('https://fonts.googleapis.com/css?family=Roboto'); /* font-family: 'Roboto', sans-serif; */

body { background-color: #f5f5f5; font-family: 'Roboto', sans-serif; }

/* Added card-style layout */
.card { box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); background-color: #fff; margin-bottom: 48px; }
.card .card-header { padding: 25px 40px 0;  }
.card .card-body { padding: 15px 40px 25px; }
.card .card-footer { border-top: 1px solid rgba(0, 0, 0, 0.12); padding: 15px 40px; }
.card .card-option { float: right; font-size: 20px; margin: 15px; }

/* Make columns have the same heights */
.equal { display: table; }
.equal .col { float: none; display: table-cell; vertical-align: top; }

/* Center element vertically and horizontally */
.center-element { position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%); }

.headline { margin-bottom: 48px; }
.headline .headline-title { padding: 60px 40px; }
.headline .headline-excerpt { padding: 20px 40px; }
.headline .headline-shade { background-color: rgba(0,0,100,0.3);; }