@import url('https://fonts.googleapis.com/css?family=Roboto'); /* font-family: 'Roboto', sans-serif; */

body { background-color: #f5f5f5; font-family: 'Roboto', sans-serif; color: #757575; line-height: 18px; }

/* Added card-style layout */
.card { box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); background-color: #fff; color: rgba(0,0,0,.54); margin-bottom: 48px; }
.card .card-header { padding: 15px 40px 0;  }
.card .card-body { padding: 15px 40px 25px; }
.card .card-footer { border-top: 1px solid rgba(0, 0, 0, 0.12); outline: 1px solid rgba(255, 255, 255, 0.5); padding: 15px 40px; }
.card .card-option { float: right; font-size: 20px; margin: 15px; }

/* Make columns have the same heights */
.equal { display: table; }
.equal .col { float: none; display: table-cell; vertical-align: top; }

/* Center element vertically and horizontally */
.center-element { position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%); }

.btn, .btn:focus { border-radius: 0; font-weight: 500; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); }

/* Button Colors */
.btn.btn-blue, .btn.btn-blue:focus, .btn.btn-blue:hover { color: #fff; background: #3f51b5; border-color: #3f51b5; }
.btn.btn-pink, .btn.btn-pink:focus, .btn.btn-pink:hover { color: #fff; background: #ff4081; border-color: #ff4081; }

/* Make buttons circe */
.btn-circle { width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; border-radius: 15px; }
.btn-circle.btn-lg { width: 50px; height: 50px; line-height: 110%; padding: 10px 16px; font-size: 24px; border-radius: 25px; }
.btn-circle.btn-xl { width: 70px; height: 70px; line-height: 150%; padding: 10px 16px; font-size: 30px; border-radius: 35px; }

/* Text Colors */
.text-white { color: #fff; }
a.text-white:hover { color: #ddd; }
.text-black { color: #333; }
a.text-black:hover { color: #555; }

/* Headline */
.headline { margin-bottom: 48px; }
.headline .headline-title { padding: 60px 40px; }
.headline .headline-excerpt { padding: 20px 40px; }
.headline .headline-shade { background-color: rgba(0,0,100,0.3); }

/* Ripple effect */
.ripple{ position: relative; overflow: hidden; }
.ripple:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .2); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
.ripple:focus:not(:active)::after { animation: ripple 1s ease-out; }
@keyframes ripple { 0% { transform: scale(0, 0); opacity: 1; } 20% { transform: scale(25, 25); opacity: 1; } 100% { opacity: 0; transform: scale(40, 40); } }

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.equal { display: block; }
	.equal .col { float: initial; display: block; vertical-align: initial; min-height: 150px; }
}

@media screen and (max-width: 480x) {

}